<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>打卡记录</title>
    <link rel="stylesheet" href="/css/Records.css">
</head>
<body>
    <h2>打卡记录</h2>
    <table id="attendanceTable">
        <thead>
            <tr>
                <th>员工ID</th>
                <th>上班时间</th>
                <th>休息时间</th>
                <th>下班时间</th>
                <th>总工作时长</th>
            </tr>
        </thead>
        <tbody>
            <!-- 打卡记录将被插入到这里 -->
        </tbody>
    </table>
    
    <input type="button" value="返回打卡页面" onclick="window.location.href='/attendance/form'">
    <input type="text" id="employeeIdInput" placeholder="输入员工ID">
	<button onclick="searchAttendance()">搜索</button>

    
    <script src="/js/scripts.js"></script>
   <script>
        document.addEventListener('DOMContentLoaded', function() {
            fetch('/attendance/all')
                .then(response => response.json())
                .then(data => {
                    let tableBody = document.querySelector('#attendanceTable tbody');
                    tableBody.innerHTML = ''; // 清空表格
                    data.forEach(record => {
                        let row = document.createElement('tr');
                        row.innerHTML =`
                            <td>${record.employeeId}</td>
                            <td>${formatDateTime(record.checkIn)}</td>
                            <td>${formatDateTime(record.breakTime)}</td>
                            <td>${formatDateTime(record.endTime)}</td>
                            <td>${calculateTotalWorkHours(record.checkIn, record.breakTime, record.endTime)}</td>
                        `;
                        
                        tableBody.appendChild(row);
                    });
                })
                .catch(error => console.error('Error fetching attendance records:', error));
        });
		
      //时间显示格式变更
        function formatDateTime(datetime) {
                const options = {
                    year: 'numeric', month: '2-digit', day: '2-digit',
                    hour: '2-digit', minute: '2-digit', second: '2-digit'
                };
                return new Intl.DateTimeFormat('zh-CN', options).format(new Date(datetime));
            }
        
        
    </script> 
</body>
</html>
